/* // MAIN COLORS // */
:root {
  --color-black: #172C36;
  --color-darkgrey: #363636;
  --color-garage: #84837e;
  --color-grey: #a8a8a8;
  --color-wolf: #dfdad3;
  --color-sand: #fef9ea;
  --color-light: #fafafa;

  --color-orchid: #d7c0d0;
  --color-baker: #fe90ad;
  --color-mystic: #d65780;
  --color-orange: #fbaf00;
  --color-cyber: #ffd639;
  --color-park: #8fc93a;
  --color-tree: #628b48;
  --color-bluejay: #5aa9e6;
  --color-azul: #2a628f;
  --color-plum: #9c89b8;
  --color-coffee: #3e363f;
  --color-baker-hover: #F7BCD8;
  
}

.orchid { color: var(--color-orchid); }
.baker { color: var(--color-baker); }
.mystic { color: var(--color-mystic); }
.orange { color: var(--color-orange); }
.cyber { color: var(--color-cyber); }
.park { color: var(--color-park); }
.tree { color: var(--color-tree); }
.bluejay { color: var(--color-bluejay); }
.azul { color: var(--color-azul); }
.plum { color: var(--color-plum); }
.coffee { color: var(--color-coffee); }

html, body {
  height: 100%;
  min-height: 100%;
  min-width: 320px;
}

html{
  position:static!important;
  top:0!important;
  box-sizing:border-box;
  overflow-x:hidden;
  overflow-y:scroll;
  background: #3e363f;
  background: -webkit-linear-gradient(to top right, #33ccff 0%, #0066ff 100%) no-repeat;
  background: -moz-linear-gradient(to top right, #33ccff 0%, #0066ff 100%) no-repeat;
  background: -o-linear-gradient(to top right, #33ccff 0%, #0066ff 100%) no-repeat;
  background: linear-gradient(#3e363f, #45546B) no-repeat;
  background-attachment: fixed;
}

body,div,ul,li{
  margin:0;
  border:0;
  padding:0;
  list-style:none;
  -webkit-font-smoothing: antialiased!important;
}

::selection {
  background: var(--color-plum); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--color-plum); /* Gecko Browsers */
}

.select {
  -webkit-touch-callout: auto; /* iOS Safari */
    -webkit-user-select: auto; /* Safari */
     -khtml-user-select: auto; /* Konqueror HTML */
       -moz-user-select: auto; /* Firefox */
        -ms-user-select: auto; /* Internet Explorer/Edge */
            user-select: auto; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

*{
  box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900');

h1 {
  font-family:Montserrat;
  font-weight:300;
  letter-spacing:0.15rem;
  font-size: 2.2rem;
  line-height: 2.5rem;
  color:var(--color-orchid);
  cursor:default;
  margin: auto 0;
}

h1.mobile {
  color: var(--color-black);
}

h1.hero {
  margin-block-start: 2rem;
  margin-block-end: 2rem;
}

h1.bold {
  font-weight: 700;
  font-size: 2.0rem;
  letter-spacing: 0.00rem;
  cursor: pointer;
}

h1.underline {
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.00rem;
}

h1.foldaway {
  position: relative;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 0.00rem;
  cursor: pointer;
}
h1.contact {
  margin-block-start:2rem;
  margin-block-end:2rem;
}

h2 {
  font-family:Montserrat;
  font-weight:600;
  letter-spacing:0rem;
  font-size: 1.8rem;
  line-height: 2.35rem;
  color:var(--color-orchid);
  cursor:default;
  margin: auto 0;
}

h3 {
  margin-block-start: 20px;
  font-family:Montserrat;
  font-weight: 500;
  letter-spacing:0.15rem;
  font-size: 1rem;
  line-height: 1.4rem;
  color:var(--color-orchid);
  margin: auto 0;
}

h3.bold {
  font-weight: 600;
}
h3.mobile {
  color: var(--color-black);
}
h3.menu:hover {
  font-weight: 600;
}
h3.footer {
  margin-block-end:1rem;
  font-size: 1.1rem;
  letter-spacing: 0.03rem;
}
h3.blue, h4.blue, h5.blue, h6.blue{
  color:var(--color-bluejay);
}

h4 {
  font-family:Montserrat;
  font-weight:400;
  letter-spacing:0rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color:var(--color-orchid);
  cursor:default;
  margin: auto 0;
  opacity: 1;
}
h4.bold {
  font-weight: 400;
  letter-spacing: .09rem;
}
h4.blurb {
  margin-block-start: 2rem;
  margin-block-end: 2rem;
}
h4.select {
  color:var(--color-plum);
  cursor: pointer;
}

h4.select:hover {
  font-weight: 500;
}
h4.contact {
  margin-block-start:0.2rem;
  margin-block-end:0.2rem;
}

h5 {
  margin-block-start: 20px;
  margin-block-end: 20px;
  font-family:Montserrat;
  font-weight:300;
  letter-spacing:0.03rem;
  font-size: .9rem;
  line-height: 1.35rem;
  color:var(--color-orchid);
  margin: auto 0;
}

h5:hover {
  font-weight:400;
}

p,a {
  text-decoration: none;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

/*
// ANIMATION
*/

.expand {
  display: block;
}

.fold {
  display: none;
  overflow: hidden;
}

/* simple animation */
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}

/*
/* advanced - enter transition 800ms, exit 150ms */
/* 
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
    transform: translateY(-10px);
}
.fade-appear p,
.fade-enter p {
  transform: translateY(-5px);
  opacity: 0;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms linear 150ms, transform 300ms ease-out 150ms;
}
.fade-appear-active p,
.fade-enter.fade-enter-active p {
  transform: translateY(0);
  opacity: 1;
}
.fade-appear-active p:nth-child(2),
.fade-enter.fade-enter-active p:nth-child(2) {
  transition: opacity 300ms linear 300ms, transform 300ms ease-out 300ms;
}
.fade-appear-active p:nth-child(3),
.fade-enter.fade-enter-active p:nth-child(3) {
  transition: opacity 300ms linear 400ms, transform 300ms ease-out 400ms;
}
.fade-appear-active p:nth-child(4),
.fade-enter.fade-enter-active p:nth-child(4) {
  transition: opacity 300ms linear 500ms, transform 300ms ease-out 500ms;
}
.fade-exit {
    opacity: 1;
    transform: translateY(0);
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms linear, transform 150ms ease-in;
} 
*/

/*
// MAIN LAYOUT //
*/

.main-rails {
  margin: 0rem 1.8rem;
}

.hero-rails {
  padding: 1.6rem 3rem;
}

.inner-rails {
  padding: 4rem 3rem;
}

.container {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  left: 0;
  right: 0;
  width: 100%;
  max-width: 76rem;
}

.svg-base {
  position: absolute;
  top: 0;
  pointer-events: none;
  width: 100%;
}

.svg-hero {
  position: relative;
  top: 0;
  pointer-events: none;
  width: 100%;
}

.svg-diagram {
  position: relative;
  top: 0;
  pointer-events: none;
  width: 600px;
}

.svg-large {
  height: 6rem;
  width: 6rem;
}

.channel {
  height: 6rem;
  line-height: 6rem;
  vertical-align:middle;
  text-align: center;
}

.send-right {
  width: 42rem;
  margin-left: auto;
  text-align: right;
}

.send-left {
  width: 56rem;
  text-align: left;
}

.paragraph {
  position: relative;
  width: 70%;
}

.blurb {
  position: relative;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.contact {
  position: relative;
}

footer {
  position: relative;
  left: 0;
  right: 0;
  margin: 2rem 2rem;
}

.footer-border {
  border-top: 1px solid var(--color-orchid);
}

/*
// NAVIGATION //
*/

.nav-top{
  z-index:200;
  padding-top: 1rem;
  height: 3rem;

  position:relative;
  width: 100%;
  max-width: 76rem;
  margin: auto;
}

.bottom-right{
  position:absolute;
  top: 1.75rem;
  right: 0;
}

.link-header{
  margin-left:3rem;
}

/* MOBILE NAVIGATION */
.nav-mobile {
  background: var(--color-wolf); 
  position: fixed; 
  width: 100%; 
  height: 100%;
  top:0; 
  right: -9999px; 
  z-index: 1;
}

.hamburger {
  stroke: var(--color-orchid);
  position: absolute;
  display: none;
  top: 1rem;
}

button{
  background: var(--color-wolf);
  border: none;
  cursor:pointer;
  width: 100%;
}

.button:hover, .button:active {
  background: var(--color-bluejay);
}


@media only screen and (max-width:1180px) {

}

@media only screen and (max-width:1024px) { /* iPad Pro width: 1024 */

}

@media only screen and (max-width:895px) { /* midpoint */
  img.svg-base { top: 3rem; }
  .send-right {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .inner-rails, .hero-rails { padding: 3rem 2rem; }
  .svg-large {
    height: 5rem;
    width: 5rem;
  }
  .channel {
    width:100%;
    height: 5rem;
    line-height: 5rem;
    text-align: left;
  }
}

@media only screen and (max-width:767px) { /* iPad width: 768 */
  /* MENU */
  #nav {
    display: none;
  }
  html,body {
    overscroll-behavior-y: contain;
  }
  nav.nav-top.mobile {
    margin-bottom: 1rem;
  }
  .mobile-rails {
    margin: 0rem 1rem;
  }
  .mobile-touch {
    cursor:pointer;
  }
  .mini-module, .fake-module {
    position: relative;
    display: block;
    height: 5rem;
    width: 100%;
    border-top: 1px solid var(--color-darkgrey);
  }
  .mini-card {
    padding: 1.8rem 0rem 0rem 0rem;
  }
  .mini-symbol {
    padding: 1.2rem 0rem 0rem 1rem;
  }
  .hamburger {
    display: block;
    right: 0;
    top: 10px;
  }
  .exit-shape {
    cursor: pointer;
    position: relative;
    stroke:var(--color-black);
    opacity: 1;
  }
  .exit-shape:hover{
    stroke:var(--color-plum);
  }
  .exit-shape:active{
    stroke:var(--color-plum);
  }
  .nav-mobile.open{
    right: 0px; 
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  .nav-mobile.closed{
    right: -9999px;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    
  }
  /* FOOTER */
  li.col-4-12 {
    width: 50%;
  }
  li.col-4-12.legal {
    display: none;
  }
}

@media only screen and (max-width:600px) {
  .flex.icons{
    flex-direction:column;
  }
  .flex.channel{
    flex-direction: row;
  }
  /* LAYOUT */
  h1 {
    font-weight: 500;
    letter-spacing:0.00rem;
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
  h1.hero {
    margin-block-start: 1rem;
    margin-block-end: 1.4rem;
  }
  h1.underline {
    font-size: 1.4rem;
  }
  h1.foldaway {
    /*
    margin-block-start: 2rem;
    margin-block-end: 2rem;
    */
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.00rem;
  }
  h1.bold.mobile {
    line-height: 2.5rem;
  }
  h2 {
    letter-spacing:0rem;
    font-size: 1.8rem;
    line-height: 2.35rem;
  }
  h3.icon {
    letter-spacing:0.075rem;
    font-size: 1rem;
    line-height: 4rem;
  }
  h3.footer {
    margin-block-end: 0.3rem;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
  }
  h4 {
    letter-spacing:0rem;
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
  h4.contact {
    letter-spacing:0rem;
    font-size: 1.1rem;
    line-height: 1rem;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
  }
  h5 {
    letter-spacing:0.03rem;
    font-size: .6rem;
    line-height: 0.9rem;
  }
  .inner-rails, .hero-rails {
    padding: 1rem 1.7rem;
  }
  .paragraph {
    width: 95%
  }
  .blurb {
    width: 95%
  }
  .svg-diagram {
    width: 100%;
  }
  .svg-large {
    height: 4rem;
    width: 4rem;
  }
  .channel {
    width:100%;
    height: 4rem;
    line-height: 4rem;
    text-align: left;
  }
  .flex-column.col-6-12 {
    width: 100%;
  }
}

/*
// FLEX //
*/

.flex{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;

  -ms-flex-wrap:row wrap;
  flex-wrap:row wrap;
  justify-content:flex-start;
  overflow:hidden;
}

.flex-right{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;

  -ms-flex-wrap:row wrap;
  flex-wrap:row wrap;
  justify-content:flex-end;
  overflow:visible;
}

.flex-column{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;

  -ms-flex-wrap:nowrap;
  flex-wrap:nowrap;

  flex-direction:column;
}

/*
// POSITIONAL DUDES
*/

.mini-top {
  padding-top: 1rem;
}

.mini-bottom {
  padding-bottom: 1rem;
}

.gap-top {
  padding-top: 2rem;
}

.gap-bottom {
  padding-bottom: 2rem;
}

.gap-left {
  padding-left: 1rem;
}

.gap-right {
  padding-right: 1rem;
}

.top{
  vertical-align:top!important;
}
.left{
  text-align:left!important;
}
.right{
  text-align:right!important;
}
.center{
  text-align:center!important;
}
.middle{
  vertical-align:middle!important;
}
.bottom{
  vertical-align:bottom!important;
}
.block{
  display:block!important
}

/*
// COLUMNS
*/

.col-1-12{
    width:8.33333%
}
.col-2-12{
    width:16.66667%
}
.col-3-12{
    width:25%
}
.col-4-12{
    width:33.33333%
}
.col-5-12{
    width:41.66667%
}
.col-6-12{
    width:50%
}
.col-7-12{
    width:58.33333%
}
.col-8-12{
    width:66.66667%
}
.col-9-12{
    width:75%
}
.col-10-12{
    width:83.33333%
}
.col-11-12{
    width:91.66667%
}
.col-12-12{
    width:100%
}